<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Libreria.Properties.Settings.ConexionBD" connectionString="Data Source=(local);Initial Catalog=Libreria;User ID=pDos;Password=pDos;TrustServerCertificate=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>